<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="language" content="en-EN" />
  <meta name="author" content="Mark Koelle" />
  <title>Mark Koelle - Resume</title>

  <link rel="icon" type="image/png" sizes="128x128" href="/img/head_shot_128x128.png" />

  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="resume">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="image is-24x24">
          <img src="/img/head_shot_128x128.png" alt="Mark Koelle - Home">
        </figure>
      </a>
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
      </div>
    </div>
  </nav>

  <section class="section site-content">

  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="/resume/">Resume </a> | <a href="#">CV </a> |
        <a href="https://github.com/mkoelle">GitHub</a> |
        <a href="https://www.linkedin.com/in/mkoelle/">Linkdn</a> |
        <a href="https://twitter.com/mkoelle">Twitter</a>
      </p>
    </div>
    <link rel="stylesheet" href="/css/print.css" />
  </footer>
</body>

</html>